<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>QDAboutTVC</key>
<dict>
<key>Description</key>
<string>关于钱端</string>
<key>RouterIdentifier</key>
<string>About</string>
</dict>
<key>QDAddBankCardVC</key>
<dict>
<key>Description</key>
<string>添加银行卡</string>
<key>RouterIdentifier</key>
<string>AddBankCard</string>
<key>StoryboardName</key>
<string>QDMyBankCard</string>
<key>StoryboardIdentifier</key>
<string>QDAddBankCardVC</string>
</dict>
<key>QDAfterSaleVC</key>
<dict>
<key>Description</key>
<string>申请售后</string>
<key>RouterIdentifier</key>
<string>AfterSale</string>
</dict>
<key>QDAfterSaleErrorViewController</key>
<dict>
<key>Description</key>
<string>申请售后</string>
<key>RouterIdentifier</key>
<string>AfterSaleError</string>
</dict>
<key>QDAfterSaleProgressViewController</key>
<dict>
<key>Description</key>
<string>售后进度</string>
<key>RouterIdentifier</key>
<string>AfterSaleProgress</string>
</dict>
<key>QDAfterSaleReturnInfoVC</key>
<dict>
<key>Description</key>
<string>商品返回方式</string>
<key>RouterIdentifier</key>
<string>AfterSaleReturnInfo</string>
</dict>
<key>QDAuthenticateVC</key>
<dict>
<key>Description</key>
<string>实名和肖像认证过渡页</string>
<key>RouterIdentifier</key>
<string>Authenticate</string>
<key>StoryboardName</key>
<string>QDMyBankCard</string>
<key>StoryboardIdentifier</key>
<string>QDAuthenticateVC</string>
</dict>
<key>QDBalanceChargeVC</key>
<dict>
<key>Description</key>
<string>余额理财收益</string>
<key>RouterIdentifier</key>
<string>BalanceCharge</string>
</dict>
<key>QDBalanceOfFinancialAccountsViewController</key>
<dict>
<key>Description</key>
<string>余额理财账户</string>
<key>RouterIdentifier</key>
<string>BalanceOfFinancialAccounts</string>
</dict>
<key>QDBankCardAuthenticationVC</key>
<dict>
<key>Description</key>
<string>实名认证</string>
<key>RouterIdentifier</key>
<string>BankCardAuthentication</string>
</dict>
<key>QDBillingDetailsVC</key>
<dict>
<key>Description</key>
<string>结果详情</string>
<key>RouterIdentifier</key>
<string>BillingDetails</string>
</dict>
<key>QDSnsBindMobileViewController</key>
<dict>
<key>Description</key>
<string>绑定手机号码</string>
<key>RouterIdentifier</key>
<string>BindMobile</string>
</dict>
<key>QDBookInvestDetailViewController</key>
<dict>
<key>Description</key>
<string>预约投资</string>
<key>RouterIdentifier</key>
<string>BookInvestDetail</string>
</dict>
<key>QDBookInvestViewController</key>
<dict>
<key>Description</key>
<string>预约投资</string>
<key>RouterIdentifier</key>
<string>BookInvestHomePage</string>
</dict>
<key>QDBookInvestRecordViewController</key>
<dict>
<key>Description</key>
<string>预约匹配记录</string>
<key>RouterIdentifier</key>
<string>BookInvestRecord</string>
</dict>
<key>QDChargeCenterViewController</key>
<dict>
<key>Description</key>
<string>充值中心</string>
<key>RouterIdentifier</key>
<string>ChargeCenter</string>
</dict>
<key>QDConfirmOrderViewController</key>
<dict>
<key>Description</key>
<string>确认订单</string>
<key>RouterIdentifier</key>
<string>ConfirmOrder</string>
</dict>
<key>QDCouponInvestListViewController</key>
<dict>
<key>Description</key>
<string>可投资项目</string>
<key>RouterIdentifier</key>
<string>CouponInvestList</string>
</dict>
<key>QDCreditHomeH5ViewController</key>
<dict>
<key>Description</key>
<string>信用</string>
<key>RouterIdentifier</key>
<string>CreditHomeH5</string>
</dict>
<key>QDEasyComsumeViewController</key>
<dict>
<key>Description</key>
<string>消费易</string>
<key>RouterIdentifier</key>
<string>EasyComsume</string>
</dict>
<key>QDEmployeeLoanVC</key>
<dict>
<key>Description</key>
<string>消费易</string>
<key>RouterIdentifier</key>
<string>EmployeeLoan</string>
</dict>
<key>QDFaceRecognitionFailureVC</key>
<dict>
<key>Description</key>
<string>肖像认证</string>
<key>RouterIdentifier</key>
<string>FaceRecognitionFailure</string>
</dict>
<key>QDFaceRecognitionInstructionsVC</key>
<dict>
<key>Description</key>
<string>肖像认证须知</string>
<key>RouterIdentifier</key>
<string>FaceRecognitionInstructions</string>
</dict>
<key>QDFeedBackTVC</key>
<dict>
<key>Description</key>
<string>意见反馈</string>
<key>RouterIdentifier</key>
<string>FeedBack</string>
<key>StoryboardName</key>
<string>QDFeedBackTVC</string>
<key>StoryboardIdentifier</key>
<string>FeedBack</string>
</dict>
<key>QDForgotBranchBankViewController</key>
<dict>
<key>Description</key>
<string>如何查询支行</string>
<key>RouterIdentifier</key>
<string>ForgotBranchBank</string>
</dict>
<key>QDFortuneViewController</key>
<dict>
<key>Description</key>
<string>财富</string>
<key>RouterIdentifier</key>
<string>Fortune</string>
</dict>
<key>QDFundAcountFirstTableViewController</key>
<dict>
<key>Description</key>
<string>开通余额理财账户(1/3)</string>
<key>RouterIdentifier</key>
<string>FundAcountFirst</string>
</dict>
<key>QDFundAcountSecondTableViewController</key>
<dict>
<key>Description</key>
<string>开通余额理财账户(2/3)</string>
<key>RouterIdentifier</key>
<string>FundAcountSecond</string>
</dict>
<key>QDFundAcountThreeTableViewController</key>
<dict>
<key>Description</key>
<string>开通余额理财账户(3/3)</string>
<key>RouterIdentifier</key>
<string>FundAcountThree</string>
</dict>
<key>QDFundAcountZeroTableViewController</key>
<dict>
<key>Description</key>
<string>开通余额理财账户</string>
<key>RouterIdentifier</key>
<string>FundAcountZero</string>
</dict>
<key>QDGiftCardViewController</key>
<dict>
<key>Description</key>
<string>礼品卡</string>
<key>RouterIdentifier</key>
<string>GiftCard</string>
</dict>
<key>QDGiftCardDetailsViewController</key>
<dict>
<key>Description</key>
<string>礼品卡详情</string>
<key>RouterIdentifier</key>
<string>GiftCardDetails</string>
</dict>
<key>QDInvestCouponsSelectionListViewController</key>
<dict>
<key>Description</key>
<string>投资选择优惠券</string>
<key>RouterIdentifier</key>
<string>InvestCouponsSelectionList</string>
</dict>
<key>QDInvestIndexViewController</key>
<dict>
<key>Description</key>
<string>投资</string>
<key>RouterIdentifier</key>
<string>InvestIndex</string>
</dict>
<key>QDInvestListViewController</key>
<dict>
<key>Description</key>
<string>定期投资</string>
<key>RouterIdentifier</key>
<string>InvestList</string>
</dict>
<key>QDInvestPayViewController</key>
<dict>
<key>Description</key>
<string>投资支付</string>
<key>RouterIdentifier</key>
<string>InvestPay</string>
</dict>
<key>QDInvestPayDetailVC</key>
<dict>
<key>Description</key>
<string>支付详情</string>
<key>RouterIdentifier</key>
<string>InvestPayDetail</string>
</dict>
<key>QDInvestInforViewController</key>
<dict>
<key>Description</key>
<string>投资详情</string>
<key>RouterIdentifier</key>
<string>InvestProjectDetails</string>
</dict>
<key>QDLeaveMessageVC</key>
<dict>
<key>Description</key>
<string>留言</string>
<key>RouterIdentifier</key>
<string>LeaveMessage</string>
</dict>
<key>QDLoginContentVC</key>
<dict>
<key>Description</key>
<string>手机号登录</string>
<key>RouterIdentifier</key>
<string>Login</string>
</dict>
<key>QDMallCouponViewController</key>
<dict>
<key>Description</key>
<string>闪惠优惠券</string>
<key>RouterIdentifier</key>
<string>MallCoupon</string>
</dict>
<key>QDMallEnjoyViewController</key>
<dict>
<key>Description</key>
<string>惠享受</string>
<key>RouterIdentifier</key>
<string>MallEnjoy</string>
</dict>
<key>QDMallHomeViewController</key>
<dict>
<key>Description</key>
<string>消费</string>
<key>RouterIdentifier</key>
<string>MallHome</string>
</dict>
<key>QDMallPaySuccessVC</key>
<dict>
<key>Description</key>
<string>支付成功</string>
<key>RouterIdentifier</key>
<string>MallPaySuccess</string>
</dict>
<key>QDManageCreditViewController</key>
<dict>
<key>Description</key>
<string>我的信用</string>
<key>RouterIdentifier</key>
<string>ManageCredit</string>
</dict>
<key>QDMineEnterpriseInfoViewController</key>
<dict>
<key>Description</key>
<string>我的企业</string>
<key>RouterIdentifier</key>
<string>MineEnterpriseInfo</string>
</dict>
<key>QDMineEnterpriseProcessingViewController</key>
<dict>
<key>Description</key>
<string>我的企业进度</string>
<key>RouterIdentifier</key>
<string>MineEnterpriseProcessing</string>
</dict>
<key>QDModifyLoginPassWordVC</key>
<dict>
<key>Description</key>
<string>修改登录密码</string>
<key>RouterIdentifier</key>
<string>ModifyLoginPassWord</string>
</dict>
<key>QDModifyNickNameVC</key>
<dict>
<key>Description</key>
<string>修改昵称</string>
<key>RouterIdentifier</key>
<string>ModifyNickName</string>
</dict>
<key>QDModifyPhoneGetVerifyCodeViewController</key>
<dict>
<key>Description</key>
<string>修改手机号</string>
<key>RouterIdentifier</key>
<string>ModifyPhoneGetVerifyCode</string>
</dict>
<key>QDModifyPhoneInputNewNumberViewController</key>
<dict>
<key>Description</key>
<string>修改手机号</string>
<key>RouterIdentifier</key>
<string>ModifyPhoneInputNewNumber</string>
</dict>
<key>QDModifyPhoneNumberVC</key>
<dict>
<key>Description</key>
<string>修改手机号</string>
<key>RouterIdentifier</key>
<string>ModifyPhoneNumber_HomePage</string>
</dict>
<key>QDModifyPhoneNumber_NewPhoneNumberVC</key>
<dict>
<key>Description</key>
<string>修改手机号</string>
<key>RouterIdentifier</key>
<string>ModifyPhoneNumber_NewPhoneNumber</string>
</dict>
<key>QDModifyPhoneNumber_VerifCodeVC</key>
<dict>
<key>Description</key>
<string>修改手机号</string>
<key>RouterIdentifier</key>
<string>ModifyPhoneNumber_VerifCode</string>
</dict>
<key>QDModifyPhoneNumberSuccessViewController</key>
<dict>
<key>Description</key>
<string>修改手机号</string>
<key>RouterIdentifier</key>
<string>ModifyPhoneNumberSuccess</string>
</dict>
<key>QDMyAllCouponsSliderViewController</key>
<dict>
<key>Description</key>
<string>我的优惠券</string>
<key>RouterIdentifier</key>
<string>MyAllCoupon</string>
</dict>
<key>QDMyBankCardListVC</key>
<dict>
<key>Description</key>
<string>我的银行卡</string>
<key>RouterIdentifier</key>
<string>MyBankCard</string>
<key>StoryboardName</key>
<string>QDMyBankCard</string>
<key>StoryboardIdentifier</key>
<string>QDMyBankCardListVC</string>
</dict>
<key>QDMyBenefitsViewController</key>
<dict>
<key>Description</key>
<string>我的福利</string>
<key>RouterIdentifier</key>
<string>MyBenefits</string>
</dict>
<key>QDMyEnterpriseJoinViewController</key>
<dict>
<key>Description</key>
<string>加入企业</string>
<key>RouterIdentifier</key>
<string>MyEnterpriseJoin</string>
</dict>
<key>QDMallMyFavoriteVC</key>
<dict>
<key>Description</key>
<string>我的收藏</string>
<key>RouterIdentifier</key>
<string>MyFavorite</string>
</dict>
<key>QDMyFundAsetsViewController</key>
<dict>
<key>Description</key>
<string>余额理财账户</string>
<key>RouterIdentifier</key>
<string>MyFundAsets</string>
</dict>
<key>QDMyInvestDetailVC</key>
<dict>
<key>Description</key>
<string>投资资产详情</string>
<key>RouterIdentifier</key>
<string>MyInvestDetail</string>
</dict>
<key>QDMyInvestIndexVC</key>
<dict>
<key>Description</key>
<string>我的投资</string>
<key>RouterIdentifier</key>
<string>MyInvestIndex</string>
</dict>
<key>QDMessageViewController</key>
<dict>
<key>Description</key>
<string>我的消息</string>
<key>RouterIdentifier</key>
<string>MyMessage</string>
</dict>
<key>QDMyOrderViewController</key>
<dict>
<key>Description</key>
<string>我的订单</string>
<key>RouterIdentifier</key>
<string>MyOrder</string>
</dict>
<key>QDMyOrderInfoVC</key>
<dict>
<key>Description</key>
<string>订单详情</string>
<key>RouterIdentifier</key>
<string>MyOrderInfo</string>
</dict>
<key>QDMyOrderInfoOldVC</key>
<dict>
<key>Description</key>
<string>旧订单详情</string>
<key>RouterIdentifier</key>
<string>MyOrderInfoOld</string>
</dict>
<key>QDMySettingViewController</key>
<dict>
<key>Description</key>
<string>设置</string>
<key>RouterIdentifier</key>
<string>MySetting</string>
</dict>
<key>QDMyShoppingViewController</key>
<dict>
<key>Description</key>
<string>我的购物</string>
<key>RouterIdentifier</key>
<string>MyShopping</string>
</dict>
<key>QDOldMyInvestTransactionRecordsVC</key>
<dict>
<key>Description</key>
<string>投资旧交易记录</string>
<key>RouterIdentifier</key>
<string>OldInvestTransactionRecords</string>
</dict>
<key>QDOldMyInvestDetailVC</key>
<dict>
<key>Description</key>
<string>投资项目详情</string>
<key>RouterIdentifier</key>
<string>OldMyInvestDetail</string>
</dict>
<key>QDOldPayBackAssetsTVC</key>
<dict>
<key>Description</key>
<string>已回款的资产</string>
<key>RouterIdentifier</key>
<string>OldPayBackAssets</string>
</dict>
<key>QDTouchIDCheckDigitalPayCodeViewController</key>
<dict>
<key>Description</key>
<string>开通指纹支付数字密码验证</string>
<key>RouterIdentifier</key>
<string>OpenTouchIDVerfifyDigitalPayCode</string>
</dict>
<key>QDBaseWebViewController</key>
<dict>
<key>Description</key>
<string>H5</string>
<key>RouterIdentifier</key>
<string>OpenWeb</string>
</dict>
<key>QDOutCashResaultViewController</key>
<dict>
<key>Description</key>
<string>结果详情</string>
<key>RouterIdentifier</key>
<string>OutCashResault</string>
</dict>
<key>QDPayCodeSettingTableViewController</key>
<dict>
<key>Description</key>
<string>支付密码</string>
<key>RouterIdentifier</key>
<string>PayCodeSetting</string>
</dict>
<key>QDPaymentControl</key>
<dict>
<key>Description</key>
<string>支付控件</string>
<key>RouterIdentifier</key>
<string>PaymentControl</string>
</dict>
<key>QDPersonalInformationTableViewController</key>
<dict>
<key>Description</key>
<string>个人信息</string>
<key>RouterIdentifier</key>
<string>PersonalInformation</string>
</dict>
<key>QDPersonalManagementViewController</key>
<dict>
<key>Description</key>
<string>个人管理</string>
<key>RouterIdentifier</key>
<string>PersonalManagement</string>
</dict>
<key>QDProductDetailsVC</key>
<dict>
<key>Description</key>
<string>商品详情</string>
<key>RouterIdentifier</key>
<string>ProductDetails</string>
</dict>
<key>QDRedEnvelopeViewController</key>
<dict>
<key>Description</key>
<string>我的红包</string>
<key>RouterIdentifier</key>
<string>RedEnvelope</string>
</dict>
<key>QDSureOutCashViewController</key>
<dict>
<key>Description</key>
<string>红包提现</string>
<key>RouterIdentifier</key>
<string>RedEnvelopeOutCash</string>
</dict>
<key>QDRedEnvelopeResultsVC</key>
<dict>
<key>Description</key>
<string>结果详情</string>
<key>RouterIdentifier</key>
<string>RedEnvelopeResults</string>
</dict>
<key>QDRedEnvelopeWithdrawVC</key>
<dict>
<key>Description</key>
<string>红包提现</string>
<key>RouterIdentifier</key>
<string>RedEnvelopeWithdraw</string>
</dict>
<key>QDRedEnvelopeWithdrawComfirmVC</key>
<dict>
<key>Description</key>
<string>红包提现</string>
<key>RouterIdentifier</key>
<string>RedEnvelopeWithdrawComfirm</string>
</dict>
<key>QDRegisterVC</key>
<dict>
<key>Description</key>
<string>注册</string>
<key>RouterIdentifier</key>
<string>Register</string>
</dict>
<key>QDRegisterPassVC</key>
<dict>
<key>Description</key>
<string>注册</string>
<key>RouterIdentifier</key>
<string>RegisterPassWord</string>
</dict>
<key>QDRepaymentBillingDetailsViewController</key>
<dict>
<key>Description</key>
<string>账单明细详情</string>
<key>RouterIdentifier</key>
<string>RepaymentBillingDetails</string>
</dict>
<key>QDRepaymentBillingListViewController</key>
<dict>
<key>Description</key>
<string>账单明细</string>
<key>RouterIdentifier</key>
<string>RepaymentBillingList</string>
</dict>
<key>QDRepaymentManualViewController</key>
<dict>
<key>Description</key>
<string>账单还款</string>
<key>RouterIdentifier</key>
<string>RepaymentManual</string>
</dict>
<key>QDRepaymentMonthlyBillingViewController</key>
<dict>
<key>Description</key>
<string>月度账单</string>
<key>RouterIdentifier</key>
<string>RepaymentMonthlyBilling</string>
</dict>
<key>QDRepaymentRecordDetailsViewController</key>
<dict>
<key>Description</key>
<string>还款记录详情</string>
<key>RouterIdentifier</key>
<string>RepaymentRecordDetails</string>
</dict>
<key>QDRepaymentRecordsListViewController</key>
<dict>
<key>Description</key>
<string>还款记录</string>
<key>RouterIdentifier</key>
<string>RepaymentRecordsList</string>
</dict>
<key>QDRepaymentResultViewController</key>
<dict>
<key>Description</key>
<string>还款结果</string>
<key>RouterIdentifier</key>
<string>RepaymentResult</string>
</dict>
<key>QDSetRepaymentBankViewController</key>
<dict>
<key>Description</key>
<string>设置自动还款</string>
<key>RouterIdentifier</key>
<string>RepaymentSetBank</string>
</dict>
<key>QDMineSafeCenterTVC</key>
<dict>
<key>Description</key>
<string>账户安全中心</string>
<key>RouterIdentifier</key>
<string>SafeCenter</string>
</dict>
<key>QDSelectBankViewController</key>
<dict>
<key>Description</key>
<string>选择银行</string>
<key>RouterIdentifier</key>
<string>SelectBank</string>
</dict>
<key>QDBranchBankVC</key>
<dict>
<key>Description</key>
<string>选择支行</string>
<key>RouterIdentifier</key>
<string>SelectBranchBank</string>
</dict>
<key>QDBankCardCitySelectVC</key>
<dict>
<key>Description</key>
<string>选择省市</string>
<key>RouterIdentifier</key>
<string>SelectCity</string>
</dict>
<key>QDSettingDigitalPayCodeViewController</key>
<dict>
<key>Description</key>
<string>设置数字支付密码</string>
<key>RouterIdentifier</key>
<string>SetDigitalpayCode</string>
</dict>
<key>QDCheckDigitalPayCodeViewController</key>
<dict>
<key>Description</key>
<string>设置数字支付密码</string>
<key>RouterIdentifier</key>
<string>SetDigitalpayCodeCheck</string>
</dict>
<key>QDSetPasswordTableViewController</key>
<dict>
<key>Description</key>
<string>设置支付密码</string>
<key>RouterIdentifier</key>
<string>SetFindPassword</string>
</dict>
<key>QDSetInvoiceInfoVC</key>
<dict>
<key>Description</key>
<string>设置发票信息</string>
<key>RouterIdentifier</key>
<string>SetInvoiceInfo</string>
</dict>
<key>QDShakeMoneyViewController</key>
<dict>
<key>Description</key>
<string>摇钱宝</string>
<key>RouterIdentifier</key>
<string>Shakemoney</string>
</dict>
<key>QDShakeMoneyInCashVC</key>
<dict>
<key>Description</key>
<string>存入</string>
<key>RouterIdentifier</key>
<string>ShakeMoneyInCash</string>
</dict>
<key>QDShakeMoneyOutCashVC</key>
<dict>
<key>Description</key>
<string>取出</string>
<key>RouterIdentifier</key>
<string>ShakeMoneyOutCash</string>
</dict>
<key>QDShakeMoneyTransactionEnquiryVC</key>
<dict>
<key>Description</key>
<string>摇钱宝交易查询</string>
<key>RouterIdentifier</key>
<string>ShakeMoneyTransactionEnquiry</string>
</dict>
<key>QDShakMoneyCashDetailVC</key>
<dict>
<key>Description</key>
<string>摇钱宝存入取出详情</string>
<key>RouterIdentifier</key>
<string>ShakMoneyCashDetail</string>
</dict>
<key>QDShippingAddressDetailViewController</key>
<dict>
<key>Description</key>
<string>新建编辑收货地址</string>
<key>RouterIdentifier</key>
<string>ShippingAddressDetail</string>
</dict>
<key>QDShippingAddressListViewController</key>
<dict>
<key>Description</key>
<string>收货地址管理</string>
<key>RouterIdentifier</key>
<string>ShippingAddressList</string>
</dict>
<key>QDShippingAddressPickerViewController</key>
<dict>
<key>Description</key>
<string>选择地址</string>
<key>RouterIdentifier</key>
<string>ShippingAddressPicker</string>
</dict>
<key>QDShopCarViewController</key>
<dict>
<key>Description</key>
<string>购物车</string>
<key>RouterIdentifier</key>
<string>ShopCar</string>
</dict>
<key>QDIntelligentInvestDetailsViewController</key>
<dict>
<key>Description</key>
<string>智投宝投资首页</string>
<key>RouterIdentifier</key>
<string>SmartInvestDailsIndex</string>
</dict>
<key>QDIntelligentInvestIndexViewController</key>
<dict>
<key>Description</key>
<string>智投宝首页</string>
<key>RouterIdentifier</key>
<string>SmartInvestIndex</string>
</dict>
<key>QDMyIntelligentInvestDetailsStatusViewController</key>
<dict>
<key>Description</key>
<string>智投宝投资详情</string>
<key>RouterIdentifier</key>
<string>SmartInvestInvestDetails</string>
</dict>
<key>QDIntelligentInvestPayDetailsViewController</key>
<dict>
<key>Description</key>
<string>智投宝支付详情</string>
<key>RouterIdentifier</key>
<string>SmartInvestPayDetails</string>
</dict>
<key>QDIntelligentTransitionViewController</key>
<dict>
<key>Description</key>
<string>智投宝过渡页</string>
<key>RouterIdentifier</key>
<string>SmartInvestTransition</string>
</dict>
<key>QDTansactionDetailVC</key>
<dict>
<key>Description</key>
<string>余额账单</string>
<key>RouterIdentifier</key>
<string>TansactionDetail</string>
</dict>
<key>QDTransactionQueryVC</key>
<dict>
<key>Description</key>
<string>交易查询</string>
<key>RouterIdentifier</key>
<string>TransactionQuery</string>
</dict>
<key>QDTransactionRecordsOldViewController</key>
<dict>
<key>Description</key>
<string>旧订单交易记录</string>
<key>RouterIdentifier</key>
<string>TransactionRecordsOld</string>
</dict>
<key>QDVehicleInsuranceViewController</key>
<dict>
<key>Description</key>
<string>车险</string>
<key>RouterIdentifier</key>
<string>VehicleInsurance</string>
</dict>
<key>QDVerifyDigitalPayCodeViewController</key>
<dict>
<key>Description</key>
<string>修改关闭数字支付密码</string>
<key>RouterIdentifier</key>
<string>VerifyDigitalPayCode</string>
</dict>
<key>QDVerifyPayCodeViewController</key>
<dict>
<key>Description</key>
<string>验证支付密码</string>
<key>RouterIdentifier</key>
<string>VerifyPayCode</string>
</dict>
<key>QDWagePlanViewController</key>
<dict>
<key>Description</key>
<string>设置修改工资存入</string>
<key>RouterIdentifier</key>
<string>WagePlan</string>
</dict>
<key>QDWagePlanManageViewController</key>
<dict>
<key>Description</key>
<string>工资存入管理</string>
<key>RouterIdentifier</key>
<string>WagePlanManage</string>
<key>StoryboardName</key>
<string>QDInvest</string>
<key>StoryboardIdentifier</key>
<string>QDWagePlanManageViewController</string>
</dict>
<key>QDWagePlanTransitionViewController</key>
<dict>
<key>Description</key>
<string>工资定投过渡页</string>
<key>RouterIdentifier</key>
<string>WagePlanTransition</string>
</dict>
<key>QDWageRecordViewController</key>
<dict>
<key>Description</key>
<string>工资存入记录</string>
<key>RouterIdentifier</key>
<string>WageRecord</string>
</dict>
<key>QDWelfareDetailsVC</key>
<dict>
<key>Description</key>
<string>福利状态</string>
<key>RouterIdentifier</key>
<string>WelfareDetails</string>
</dict>
</dict>
</plist>